# Commandline-Interface
click              # build-commandline-interface
click-completion   # shell-autocompletion
click-pwsh         # shell-autocompletion-powershell
flask              # web-framework
requests           # HTTP requests
pyautogui          # GUI automation
pyperclip          # clipboard management
netifaces          # network interface information
qrcode             # QR code generation